
@import url('https://fonts.googleapis.com/css2?family=Kelly+Slab&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
}
body{
    font-family: 'Miriam Libre', sans-serif;
    font-weight: 700;
    display: block;
}



/* NAV*/


.nav-container{
    background: #292929;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2), 0px 10px 15px rgba(0, 0, 0, 0.25);
    height: 72px;
    
}
.borde{
    max-width: 1200px;
    margin: 0 auto;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 72px;
    
}

nav ul{
    display: flex;
}

nav .logo img {
    width: 10%;
    height: 10%;
    transition: 0.3s;
}

nav .logo a:hover{
    -webkit-filter: drop-shadow(0px 10px 10px #000000);
    filter: drop-shadow(0px 10px 10px #000000);
}

.nav-items li{
    list-style: none;
    margin-right: 100px;
}

.nav-items li:nth-last-of-type(1){
    margin:0;
}
.nav-items li a{
font-family: Miriam Libre;
font-style: normal;
font-weight: bold;
font-size: 15px;
text-decoration: none;
color: #ffffff;
transition: 0.5s;
}

.nav-items li a.active{
    color: rgba(18,90,14);
}

.nav-items li a:hover{
    -webkit-filter: drop-shadow(0px 10px 10px black);
    filter: drop-shadow(0px 10px 10px black);
}

.nav-items li a#shop:hover{

    color: rgba(18,90,14);

}



/*HEADER*/
.header-container{
    background-image: url('/img/mgSSYnD.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1920px 1080px;
    height: calc(100vh - 122px) ;
    display: flex;
    align-items: center;
    background-attachment: fixed;
    overflow: hidden;
}

.wrapper{
    width: 1200px;
    margin: 0 auto;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    float: right;
    align-self: center;
    height: calc(100vh - 122px) ;
}

.text{
    color: #ffffff;
    align-items: center;
    box-sizing: border-box;
}


    #h2:hover{
    -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
}
@-webkit-keyframes shine{
    from {
      -webkit-mask-position: 150%;
    }
    
    to {
      -webkit-mask-position: -50%;
    }
  }



.line{
    width: 400px;
    height: 2px;
    background-color: #ffffff;
    border-radius: 50%;
}
.text p{
    font-family: 'Qwigley', sans-serif;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 50px;
    margin-left: 8%;
    padding-top: 10px;
}
.text p:hover{    
    -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
}

/*FOOTER*/
footer{
    height: 50px;
    width: 100%;
    margin-bottom: 0px;
    background: #292929;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2), 0px -10px 15px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    color: #ffffff;
    overflow: hidden;
    position: absolute;
}

.sponsors{
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
}
.sponsors img{
    justify-content: space-between;
    max-height: 30px;
    margin-top: 10px;

    padding: 0px 10px;
}



/* PLAYERS */
.bg{
    background-image: url('/img/worlds2019-1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    height: calc(100vh - 122px) ;
    overflow: hidden;
    z-index: -100;
    
}


.header-container-players{
    width: 1200px;
    height: calc(100vh - 150px);
    margin: 0 auto;
    padding: 25px 20px;
    
}



        /* CARDS */
.card-container {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    width: 1200px;
    margin-left: -5px;
}
    .top{
        padding-left: 0px;
    }
        .top-fondo{
            background: url(/img/joshua-brian-smith-ornn-base-splash-web2.jpg);
            background-size: 280px 170px;
            background-position: center;
            background-repeat: no-repeat;
            box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.2), 0px 10px 20px rgba(0, 0, 0, 0.25);
            border-radius: 20px;
            width: 220px;
            height: 140px;
            overflow: hidden;
        }

        h2#roster{
            border-radius: 10px;
            width: 1200px;
            background-color:rgba(242,229,182, 0.274);
            color: #292929;
            border: #292929;
            border-style: outset;
            border-width: 2px;
        }

        h2{
            font-family: 'Kelly Slab', cursive;
            font-style: normal;
            font-weight: bold;
            font-size: 30px;
            text-align: center;
            color: rgb(172, 172, 172);
            padding: 5px;
            background-color: rgba(31, 31, 31, 0.574);
            transition: 0.5s;
        }
            .top h2:hover{
                background-color: rgba(108,15,29, 0.874);
            }

        h3{
            font-family: 'Miriam Libre', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 25px;
            line-height: 120%;
            align-items: center;
            text-align: center;
            color: #FFFFFF;
            align-self: center;
            margin-top: 10px;
        }

        .jgl-fondo{
            background: url(/img/ekko-true-damage.jpg);
            background-size: 280px 170px;
            background-position: top;
            background-repeat: no-repeat;
            box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.2), 0px 10px 20px rgba(0, 0, 0, 0.25);
            border-radius: 20px;
            width: 220px;
            height: 140px;
            overflow: hidden;
        }
           .jgl h2:hover{
                background-color: rgba(103,117,178, 0.874);
            }
        
       .mid-fondo{
            background: url(/img/katarina-project.jpg);
            background-size: 280px 170px;
            background-position: center;
            background-repeat: no-repeat;
            box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.2), 0px 10px 20px rgba(0, 0, 0, 0.25);
            border-radius: 20px;
            width: 220px;
            height: 140px;
            overflow: hidden;
        }
        .mid h3, .adc h3, .supp h3{
            margin-top: 25px;
        }

        .mid h2:hover{
            background-color: rgb(185,78,105, 0.874);
        }

        .adc-fondo{
            background: url(/img/xayah.jpg);
            background-size: 280px 170px;
            background-position: top;
            background-repeat: no-repeat;
            box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.2), 0px 10px 20px rgba(0, 0, 0, 0.25);
            border-radius: 20px;
            width: 220px;
            height: 140px;
            overflow: hidden;
        }
           .adc h2:hover{
                background-color: rgba(166,40,117, 0.874);
            }
        .adc-fondo{
            background: url(/img/xayah.jpg);
            background-size: 280px 170px;
            background-position: center;
            background-repeat: no-repeat;
            box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.2), 0px 10px 20px rgba(0, 0, 0, 0.25);
            border-radius: 20px;
            width: 220px;
            height: 140px;
            overflow: hidden;
        }
           .adc h2:hover{
                background-color: rgba(166,40,117, 0.874);
            }
    .supp-fondo{
            background: url(/img/pyke-project.jpg);
            background-size: 280px 170px;
            background-position: top;
            background-repeat: no-repeat;
            box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.2), 0px 10px 20px rgba(0, 0, 0, 0.25);
            border-radius: 20px;
            width: 220px;
            height: 140px;
            overflow: hidden;
        }
           .supp h2:hover{
                background-color: rgba(234,101,48, 0.874);
            }

            
            .staff{
                padding-top: 10px;
            }
            
            .staff-fondo{
                position: absolute;
                background: black url(/img/staff.jpg);
                background-size: 1200 180px;
                background-position: right;
                background-repeat: no-repeat;
                box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.2), 0px 10px 20px rgba(0, 0, 0, 0.25);
                border-radius: 20px;
                width: 1200px;
                height: 180px;
                overflow: hidden;
            }
            
            .staff h3{
                margin-top: 25px;
            }

            
               .staff h2:hover{
                background: linear-gradient(to right, rgba(43,49,100,0.574) 0%, rgba(0,0,0,0.874) 38%, rgba(0,0,0,0.874) 65%, rgba(14,144,32,0.574) 100%)
                }


/* SHOP */
.bg-shop{
    background-image: url('/img/white-painted-wall-1939485.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    height: calc(100vh - 122px) ;
    overflow: hidden;
    z-index: -100;
}

.camiseta-fondo{
    background: url(./img/NIKE\ AEROSWIFT\ 2018-19\ TEMPLATE\ PSD\ II.jpg);

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.2), 0px 10px 20px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    width: 300px;
    height: 350px;
    overflow: hidden;
}

.shop-card{
    height: 350px;
    width: 700px;
    background: rgba(184, 184, 184, 0.5);
    mix-blend-mode: hard-light;
    box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.2), 0px 10px 20px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    overflow: hidden;
}

.text-shop{
    align-items: center;
}

.shop-text h2{
    font-weight: bold;
    font-size: 35px;
    line-height: 50px;
    text-align: center;

    color: #000000;
}
.shop-text h2:hover{
    background-color: rgba(18,90,14, 0.874);
}

.shop-text h3{
    font-family: 'Miriam Libre', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 25px;
    text-align: start;
    color: #000000;
    padding: 5px 55px;
}
.btn-container{
    width: 700px;
    height: 120px;
    
}
.shop-btn{
    width: 700px;
    height: 40px;
    background-color:rgba(18,90,14, 0.874);
    margin: 0 auto;
    margin-top: 80px;
    text-align: center;
    


}
.btn-container a, .btn-container p{
    text-decoration: none;
    padding-top: 10px;
    height: 40px;
    font-size: 20px;
    color: black;
    width: 700;
}

.shop-btn p:hover{
    background-color: rgba(18,90,14, 0.874);
    color: white;

    -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
    -webkit-mask-size: 200%;
    animation: shine 4s infinite;
}

/* phone */

@media only screen and (max-width: 700px){

    *{
        max-width: 100%;
        max-height: 100%;
        box-sizing: border-box;
    }

    .nav-container{
        height: 16rem;
        width: 100%;
    }


    .borde{
        height: 19rem;
        max-width: 80%;
        left: 50%;
        
    }

    nav{ 
        
        height: 15rem;
        width: 100%;
        display: block;
    }
    .nav-items{ 
        line-height: 10rem;
        width: 100%;
        margin: 0;
        padding: 0;
        
        
    }


    .logo {
        
        position: relative;
        
        width: 100%;
        height: fit-content;

    }
    img#logo{
        height: 90px;
        width: 90px;
        margin-left: 50%;
        margin-top: 10%;
        transform: translateX(-50%);

    }

    .nav-items li{
        margin-right: 1rem;
        list-style: none;
        margin: 0 auto;
    }
    .nav-items li:nth-last-of-type(1){
        margin:auto;
    }

    .nav-items li a{
    font-family: 'Miriam Libre', sans-serif;
    font-size: 1rem;
    text-decoration: none;
    color: #ffffff;
    transition: 0.5s;
    }

    .header-container{
        background-image: url('/img/mgSSYnD.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        align-items: center;
        background-attachment: fixed;
        overflow: hidden;
        max-height: fit-content;
    }
    
    .wrapper{
        width: 80% ;
        margin: 0 auto;
        align-items: center;
    }
    header{
        display: block; 
        margin-right: 0rem;      
       
    }
    .text{
        color: #ffffff;
        align-items: center;
        margin-top: 50%;

    }
    
    
    .line{
        width: 400px;
        height: 2px;
        background-color: #ffffff;
        border-radius: 50%;
    }
    .text p{
        font-family: 'Qwigley', sans-serif;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-size: 2rem;
        padding-top: 10px;
        text-align: center;
    }


    /* PLAYERS */

    .bg{
        background-image: url('/img/worlds2019-1.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 80rem;
        z-index: -100;
        
    }
    
    
    .header-container-players{
        width: 95%;
        height: fit-content;
        margin: 0 auto;
        
        
    }
    
    .card-container{
        display: block;
       
    }

    .top, .jgl, .mid, .adc, .supp{
        width: 90%;
        margin-left: 50%;
        transform: translateX(-40%);
        margin-bottom: 2rem;
    }


    .staff{
        height: fit-content;
        
    }
    .staff-fondo{
        width: 85%;
    }
    

    .bg-shop{
        background-image: url('/img/white-painted-wall-1939485.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        height: max-content;
        overflow: hidden;
        z-index: -100;
    }
    
    .camiseta-fondo{
        background: url(./img/NIKE\ AEROSWIFT\ 2018-19\ TEMPLATE\ PSD\ II.jpg);
    
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.2), 0px 10px 20px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        width: 300px;
        height: 350px;
        overflow: hidden;
        margin-bottom: 2rem;
        margin-left: 50%;
        transform: translateX(-50%);
       
        
    }
    
    .shop-card{
        height: 456px;
        width: 100%;
        background: rgba(184, 184, 184, 0.452);
        
        box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.2), 0px 10px 20px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        overflow: hidden;
    }
    
    .text-shop{
        margin-left: 50%;
        transform: translateX(-50%);
        
    }

    .shop-btn{
        width: 700px;
        height: 40%;
        background-color:rgba(18,90,14, 0.874);
        bottom: 0;
        margin-top: 2rem;
        text-align: center;
        

    }
    /*FOOTER*/
    footer{
        height: fit-content;
        width: 100%;
        margin-bottom: 0px;
        background: #292929;
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2), 0px -10px 15px rgba(0, 0, 0, 0.2);
        box-sizing: border-box;
        color: #ffffff;
        position: absolute;
    }

    .sponsors{
        max-width: 100%;
        display: block;
        margin: 0 auto;

    }
    .sponsors img{
        display:block;
        max-height: 4rem;
        padding: 1rem 3rem;
        margin: 0 auto;
    }
}